




@media screen and (max-width:640px) {
  i #menu {
    visibility: visible;
  }
}

.menu{
  float: right;
  display: inline-block;
  padding-bottom: 5px;
  visibility: hidden;
}

#menu{
  float:right;
  padding-right: 10px;
  padding-top:10px;
  visibility: hidden;
}


header{
  width: 100%;
  min-height: 10%;
  background-color: grey;

}

.name{
  float:left;
}


.slide{
    width: 100%;
    background-color: grey;
}

.project1, .project2{
  margin-top: 5%;
  display: inline-block;
  height: 200px;
  width: 40%;
  background-color: grey;

}

.project2{
  float: right;
}



.feature{
  /*display:inline-block;*/
  margin-top: 10px;
  width: : 800px;
}

main p{
  overflow:scroll;
}

main h2{
  margin-top: 40px;
}

main{
  margin: 20px auto;
}


#icon{
  width: 5%;
  float: right;
}
