/*
#video-background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  border: 2px solid white;
}*/


#intro{
  text-align: center;
  display: block;
  margin:auto;
  color:white;
  padding: 2rem;
  width: 45%;
  opacity: 0.9;
  height: 600px;
  font-size: 30px;
  font-family: 'Armata', sans-serif;

}

.page{
  display: none;
}


#intro img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

#intro ul{
  position: relative;
  margin: 0px auto;

}

#intro li{
  display: inline;

}


@media only screen and (max-width: 640px) {
  #video-background{
    display: none
  }

  body{
    background-image:url("../data/mobile.jpg");
  }

  #intro{
    width: 80%;
  }

}
